@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Creator: @ViewData["Creator"] </p>

<address>
    <strong>More information:</strong><a href="http://octopussoftware.com.br">Octopus software</a>
</add>
